{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="untukurl" content="{% url 'buku:add' %}">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container mt-5 ">
        <div class="d-flex flex justify-content-center mb-5 mt-5">
            <h1><i>Silahkan cari buku disini, yang buat udah capek gayn</i></h1>
        </div>
        <div class="d-flex flex column">
            <input type="text" class="form-control" name="search" placeholder="Cari buku disini :( !">
            <button class="btn btn-dark" id="find">Ayo</button>
        </div>
        <div class="d-flex flex justify-content-center">
            <button type="button" class="modal-like btn btn-dark" data-toggle="modal" data-target="#exampleModalCenter">
                Top 5 gayn 
            </button>
        </div>
        <div class="mt-5">
            <table class="table">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col" style="width: 20%;">Cover</th>
                    <th scope="col" style="width: 30%;">Judul</th>
                    <th scope="col" style="width: 20%;">Penulis</th>
                    <th scope="col" style="width: 25%;">Tahun Publikasi</th>
                    <th scope="col" style="width: 40%;">Like</th>
                  </tr>
                </thead>
                <tbody>
                    
                </tbody>
            </table>
        </div>
    </div>
    <!-- Modal -->
  <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLongTitle">Top 5</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
            
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-dark" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>

<script src="{% static 'scripts.js' %}"></script>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
</html>