{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>Io</title>
</head>
<body>
    <div class="container  column">
        {% if user.is_authenticated %}
        <div class="authenticated column">
            <div class="nama_user">
                <h1>HI, Welcome {{ request.user }}</h1>
            </div>
            <div class="logout-but">
                <a href="{% url 'luhalu:logout'%}"><button id="logout-but"class="btn btn-dark">Capek Gan? LogOut SKUT</button></a>
            </div>
        </div>
        {% else %}

        <div class="not-authenticated">
            <div class="">
                <h1>Hai ganteng</h1>  
            </div>
            <div>
                <a href=" {% url 'luhalu:register' %}">
                    <button class="reg-but btn btn-dark mr-2">Daftar</button>
                </a>
                <a href=" {% url 'luhalu:user_login' %}">
                    <button class="login-but btn btn-dark">Login</button>
                </a>                
            </div>
 
        </div>
        {% endif %}
    </div>




    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</body>
</html>