{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>Io</title>
</head>
<body>
    <div class="container d-flex flex justify-content-center column">
        
        <div class="mt-5 mb-5">
            <div class="title-greet ultra-center">
                <p>Ayo Login!</p>
            </div>
            <div class="error">
                {% if pesan != None %}
                <h3><i>* {{ pesan }} </i></h3>
            </div>
            
    
            {% endif %}
            <form method="POST" action="{% url 'luhalu:user_login' %}">
                {% csrf_token %}
                <h3>Username:</h3>
                <input type='text' class="form-control" id="username" name="username" placeholder="Username">
                <h3>Password:</h3>
                <input type='password' class="form-control" id="password" name="password" placeholder="Password">
                <div class="d-flex flex justify-content-center mt-2">
                    <button class="log-buty btn btn-dark">Masuk Gan</button>
                </div>
            </form>
            <div class="title-greet mt-5 ultra-center"> 
                <a href="{% url 'luhalu:register' %}"><button class="btn btn-dark">Belum punya akun?</button></a>
            </div>
        </div>
    </div>

</body>
</html>
