{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'style1.css' %}">
    <title>Io</title>
</head>
<body>
    <div class="container ultra-center">    
        <h4>Bikin akun skooottt!</h4>
        <div class="gabut"></div>
        {% if pesan != None %}
        <h3><i>* {{ pesan }} </i></h3>

        {% endif %}
        <form method="POST">
            {% csrf_token %}
            {{ form.as_table }}
            <input class="reg-bro btn btn-light" type="submit" value="Daftar!">
        </form>

        <div>
            <a href="{% url 'luhalu:user_login' %}"><button class="btn btn-dark">Udah Punya? SKut login</button></a>
        </div>
    </div>
    
</body>
</html>