body {
    background-image: linear-gradient(to bottom right, #222831, #30475e);
    background-attachment: fixed;
    color: white;
    height: 100%;
    padding-top: 9%;
}

.ultra-center{
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-greet{
    font-size: 30px;
}

.gabut{
    height: 500px;
    width: 1px;
    background-color: white;
    margin-left: 10px;
    margin-right: 10px;
}
