body {
    background-color: grey;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}
.table {
    text-align: center;
    width: auto;
    height: 100%;   
}
.demi_modal{
    background-color: white;
    color: black;
    border-radius: 25px;
    box-shadow: 0 0px 10px rgba(100,100,100,.5);
    font-size: 50px;
    margin-top: 30px;
}
